@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 60 10% 10%;
    --card: 60 56% 96%;
    --card-foreground: 60 10% 10%;
    --popover: 60 56% 96%;
    --popover-foreground: 60 10% 10%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 60 10% 10%;
    --muted: 60 30% 88%;
    --muted-foreground: 60 10% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 80%;
    --input: 60 30% 85%;
    --ring: 120 25% 55%;
    --chart-1: 120 25% 65%;
    --chart-2: 51 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 60 5% 10%;
    --foreground: 60 5% 95%;
    --card: 60 5% 12%;
    --card-foreground: 60 5% 95%;
    --popover: 60 5% 12%;
    --popover-foreground: 60 5% 95%;
    --primary: 120 25% 35%;
    --primary-foreground: 120 25% 95%;
    --secondary: 60 10% 20%;
    --secondary-foreground: 60 5% 95%;
    --muted: 60 10% 22%;
    --muted-foreground: 60 5% 65%;
    --accent: 51 100% 60%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 10% 25%;
    --input: 60 10% 25%;
    --ring: 120 25% 45%;
    --chart-1: 120 25% 45%;
    --chart-2: 51 100% 60%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
